{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock style %}
{% block bodycode %}

    <section class="container-fluid main-section">
        <div class="wrapper">
            <header>
                <img src="{% static '/assets/logo-original.png' %}" class="center-logo" alt="streamyIPTV-Logo">
            </header>
            <form class="form" method="POST">
                {% csrf_token %}
                <span class="signin-text">Forgot Password</span>
                
                {% if status == 1 %}
                    <div class="alert alert-danger mt-2">
                        <strong>Invalid!</strong> email does not exist in database.
                    </div>
                {% elif status == 2%}
                    <div class="alert alert-danger mt-2">
                        <strong>Try again!</strong> Yahoo.com smtp server busy, too many connections
                    </div>
                {% endif %}
    
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div>
                    <a href="{% url 'login' %}" style="display: inline-block;" class="mb-2">
                        back to log in?
                    </a>
                </div>
                <button type="submit" class="btn btn-primary custom-btn">Submit</button>
            </form>
        </div>
    </section>
</body>
{% endblock bodycode %}