{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock style %} {% block bodycode %}

<section class="container-fluid main-section">
  <div class="wrapper">
    <header>
      <img
        src="{% static '/assets/logo-original.png' %}"
        class="center-logo"
        alt="streamyIPTV-Logo"
      />
    </header>
    <form class="form" method="POST">
      {% csrf_token %}
      <span class="signin-text">Forgot Password</span>

      {% if status %}
      <div class="alert alert-danger mt-2">
        <strong>Invalid!</strong> email does not exist in database.
      </div>
      {% endif %} {% comment %}
      <div class="alert alert-success mt-2">
        <strong>Good!</strong> Check your mail, we just sent you a code
      </div>
      {% endcomment %}

      <div class="mb-3">
        <label for="pwd" class="form-label">New Password:</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          placeholder="Enter password"
          name="pswd"
        />
      </div>

      <div class="mb-3">
        <label for="pwd" class="form-label">Confirm Password:</label>
        <input
          type="password"
          class="form-control"
          id="cpwd"
          placeholder="Enter password"
          name="cpswd"
        />
      </div>

      <div class="mb-3 mt-3">
        <label for="code-received" class="form-label">Code:</label>
        <input
          type="text"
          class="form-control"
          id="code-received"
          placeholder="Enter code in email"
          name="code-received"
        />
      </div>

      <div>
        <a href="{% url 'login' %}" style="display: inline-block" class="mb-2">
          back to log in?
        </a>
      </div>
      <button type="submit" class="btn btn-primary custom-btn">Submit</button>
    </form>
  </div>
</section>
{% endblock bodycode %}